@font-face{
    font-family:'Museo Sans';
    src:url(https://cirrusinsight-662d.kxcdn.com/fonts/museosans/museosanscyrl_500.ttf);
    font-weight:500
}
@font-face{
    font-family:'Museo Sans';
    src:url(https://cirrusinsight-662d.kxcdn.com/fonts/museosans/museosanscyrl_300.ttf);
    font-weight:300
}
@font-face{
    font-family:'Museo Sans';
    src:url(https://cirrusinsight-662d.kxcdn.com/fonts/museosans/MuseoSans_700.otf);
    font-weight:700
}
*{
    box-sizing:border-box
}
body,h1,h2,h3,h4,h5,h6,small,p,figure{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:flex;
    height: 100%;
    max-height: 100%;
    padding: 50px 50px;
}
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
svg:not(:root){
    overflow:hidden
}
ol,ul{
    -webkit-margin-before:0;
    -webkit-margin-after:0
}
body{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-flow:column;
    flex-flow:column;
    min-height:100vh
}
main{
    -webkit-box-flex:1;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    margin-top:82px
}
html{
    font-size:16px
}
body{
    color:#7C8796;
    font-family:"Museo Sans",sans-serif;
    line-height:1.45;
    font-weight:500
}
h1,h2,h3,h4{
    margin:16px 0 0.5em;
    font-weight:300;
    line-height:1.2;
    color:#2c3e50
}
h1{
    font-size:2.441em
}
h2{
    font-size:1.953em
}
h3{
    font-size:1.563em
}
h4{
    font-size:1.25em
}
small{
    font-size:.8em
}
p,li,figure{
    margin-bottom:1.3em
}
a{
    color:#4b89dc;
    text-decoration:none;
    -webkit-transition:color 150ms ease;
    transition:color 150ms ease
}
a:active,a:focus,a:hover{
    color:#3867a5
}
blockquote{
    font-style:italic;
    border-left:2px solid #CACFD6;
    padding-left:.725em
}
img,picture{
    margin:0;
    max-width:100%
}
strong,b{
    font-weight:700;
    color:#2c3e50
}
i,em{
    font-style:italic
}
figure{
    margin:16px 0 0.5em
}
figcaption{
    font-size:16px
}
.caption{
    font-size:1.25em
}
hr{
    width:100%;
    margin:40px auto;
    border:1px solid #eef1f7
}
.header{
    background-color:#4b89dc;
    color:#fff;
    height:82px;
    padding:20px;
    -webkit-transition:all 0.2s;
    transition:all 0.2s;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:3000
}
.header__logo{
    position:absolute;
    top:24px;
    height:30px
}
.header__menu{
    position:absolute;
    top:4px;
    right:20px
}
@media (max-width: 768px){
    .header__menu{
        margin:0 auto;
        width:100%;
        right:0;
        left:0;
        top:70px
    }
}
.menu{
    padding-left:0;
    margin-top:0.75rem;
    display:block
}
@media (max-width: 768px){
    .menu{
        display:none;
        text-align:center;
        width:100%;
        background-color:#4b89dc;
        padding:1em
    }
}
.menu__item{
    display:inline-block;
    margin-right:1.45em
}
.menu__item a{
    color:#fff;
    color:rgba(255,255,255,0.7)
}
.menu__item a:active,.menu__item a:focus,.menu__item a:hover{
    color:#fff;
    color:#fff
}
@media (max-width: 768px){
    .menu__item{
        display:block;
        margin-right:0;
        margin-top:2.45em;
        margin-bottom:2.45em
    }
}
.menu__item--cta{
    margin-right:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:0;
    border-radius:6px;
    border:2px solid #fff;
    color:#fff;
    cursor:pointer;
    padding:.725em 1.45em;
    text-decoration:none;
    -webkit-transition:background-color 150ms ease;
    transition:background-color 150ms ease;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    vertical-align:baseline;
    white-space:nowrap;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out
}
.menu__item--cta a{
    color:#fff
}
.menu__item--cta:hover,.menu__item--cta:focus{
    background-color:#fff
}
.menu__item--cta:hover a,.menu__item--cta:focus a{
    color:#4b89dc
}
.menu__item--cta:disabled{
    cursor:not-allowed;
    opacity:0.5
}
.menu__item--cta:disabled:hover{
    background-color:transparent
}
@media (max-width: 768px){
    .menu__item--cta{
        border:none;
        background-color:#fb6e52;
        padding:.725em;
        width:70%;
        margin:0 auto;
        margin-bottom:2.45em
    }
}
.--breadcrumb{
    margin-left:0;
    text-align:left;
    margin-right:0
}
.--breadcrumb ::before{
    content:"» "
}
.--breadcrumb a{
    color:#4b89dc
}
.js-menu-toggle{
    display:none;
    color:#fff;
    font-size:1.25em
}
@media (max-width: 768px){
    .js-menu-toggle{
        display:block;
        float:right;
        margin-top:5px
    }
}
.dropdown__list{
    position:absolute;
    background:#4b89dc;
    display:none;
    padding:1em;
    border-radius:6px
}
.dropdown__list li{
    width:100%;
    padding:0 0.5em;
    margin-top:0.5em;
    list-style-type:none
}
.dropdown:hover .dropdown__list{
    display:block
}
.cta{
    color:#fff;
    height:initial;
    background-color:#4b89dc;
    background-size:400% 400%
}
.cta .button{
    margin-top:30px
}
.cta h1,.cta h2,.cta h3,.cta h4,.cta p{
    color:#fff
}
.footer{
    color:#8F99A5;
    background:#2B3E51
}
.footer a{
    color:#8F99A5;
    margin-right:1em
}
.footer a:last-of-type{
    margin-right:0
}
@media (max-width: 768px){
    .footer a{
        margin-right:0
    }
}
@media (max-width: 768px){
    .footer a{
        display:block
    }
}
.footer a:hover{
    color:#fff
}
.article__byline{
    max-width:300px;
    margin:auto
}
.article__byline::after{
    clear:both;
    content:"";
    display:block
}
.article__byline img{
    border-radius:50%;
    float:left;
    vertical-align:middle;
    display:inline-block
}
.article__byline p{
    float:right;
    display:inline-block;
    margin-top:1.5em;
    margin-bottom:-1.5em
}
.article__title{
    margin-bottom:0.5em
}
.section{
    margin-bottom:2.9em
}
.section__wrapper{
    background-color:#FAFBFD;
    border-top:2px solid #eef1f7
}
.grid__container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    padding:1em;
    padding:0em calc(50% - 550px);
    margin:auto;
    padding-top:30px;
    padding-bottom:30px
}
@media (max-width: 786px){
    .grid__container{
        width:100%;
        padding:0.5em 1.5em
    }
}
[class*='grid__item']{
    -webkit-box-flex:1;
    -ms-flex:1 1 100%;
    flex:1 1 100%;
    max-width:100%;
    box-sizing:border-box;
    display:inline-block;
    padding:2em
}
.grid__item--1of1{
    -webkit-box-flex:1;
    -ms-flex:1 1 100%;
    flex:1 1 100%;
    max-width:100%;
    min-width:100%;
    height: 100%;
    max-height: 100%;
}
.grid__item--1of2{
    -webkit-box-flex:1;
    -ms-flex:1 1 50%;
    flex:1 1 50%;
    max-width:50%
}
.grid__item--1of3{
    -webkit-box-flex:1;
    -ms-flex:1 1 33.33333%;
    flex:1 1 33.33333%;
    max-width:33.33333%
}
.grid__item--1of4{
    -webkit-box-flex:1;
    -ms-flex:1 1 25%;
    flex:1 1 25%;
    max-width:25%
}
.grid__item--2of3{
    -webkit-box-flex:1;
    -ms-flex:1 1 66.66666%;
    flex:1 1 66.66666%;
    max-width:66.66666%
}
.grid__item--align-center{
    -ms-flex-item-align:center;
    -ms-grid-row-align:center;
    align-self:center
}
.grid__item--align-bottom{
    -ms-flex-item-align:end;
    align-self:flex-end
}
.grid__item--align-top{
    -ms-flex-item-align:start;
    align-self:flex-start
}
@media screen and (max-width: 767px){
    [class*='grid__item']{
        -webkit-box-flex:1;
        -ms-flex:1 1 100%;
        flex:1 1 100%;
        max-width:100%;
        min-width:100%;
        padding:0.5em
    }
}
a[class*='grid__item']{
    color:#7C8796;
    border-bottom:1px solid #e7ebf4;
    border-right:1px solid #e7ebf4;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    padding:1.5em
}
a[class*='grid__item']:hover,a[class*='grid__item']:focus{
    background-color:#e7ebf4
}
a[class*='grid__item']:last-child{
    border-right:none;
    border-bottom:none
}
@media (max-width: 768px){
    a[class*='grid__item']{
        border-right:0px
    }
}
a.grid__item--1of2:nth-child(2n){
    border-right:none
}
a.grid__item--1of2:nth-last-of-type(-n+2){
    border-bottom:none
}
a.grid__item--1of3:nth-child(3n){
    border-right:none
}
a.grid__item--1of3:nth-last-of-type(-n+3){
    border-bottom:none
}
a.grid__item--1of4:nth-child(4n){
    border-right:none
}
a.grid__item--1of4:nth-last-of-type(-n+4){
    border-bottom:none
}
fieldset{
    background-color:transparent;
    border:0;
    margin:0;
    padding:0
}
legend{
    margin-bottom:.3625em;
    padding:0
}
label{
    font-size:1.25em
}
input,select,textarea{
    display:block;
    font-family:"Museo Sans",sans-serif;
    font-size:16px;
    border:2px solid #CACFD6;
    border-radius:6px;
    border-color:#f5f5f5
}
[type='color'],[type='date'],[type='datetime'],[type='datetime-local'],[type='email'],[type='month'],[type='number'],[type='password'],[type='search'],[type='tel'],[type='text'],[type='time'],[type='url'],[type='week'],input:not([type]),textarea,select[multiple]{
    background-color:#fff;
    border:2px solid #CACFD6;
    border-radius:6px;
    border-color:#f5f5f5;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.06);
    box-sizing:border-box;
    margin-bottom:30px;
    padding:.4833333333em;
    -webkit-transition:border-color 150ms ease;
    transition:border-color 150ms ease;
    width:100%
}
[type='color']:hover,[type='date']:hover,[type='datetime']:hover,[type='datetime-local']:hover,[type='email']:hover,[type='month']:hover,[type='number']:hover,[type='password']:hover,[type='search']:hover,[type='tel']:hover,[type='text']:hover,[type='time']:hover,[type='url']:hover,[type='week']:hover,input:not([type]):hover,textarea:hover,select[multiple]:hover{
    border-color:#a2a6ab
}
[type='color']:focus,[type='date']:focus,[type='datetime']:focus,[type='datetime-local']:focus,[type='email']:focus,[type='month']:focus,[type='number']:focus,[type='password']:focus,[type='search']:focus,[type='tel']:focus,[type='text']:focus,[type='time']:focus,[type='url']:focus,[type='week']:focus,input:not([type]):focus,textarea:focus,select[multiple]:focus{
    border-color:#fb6e52;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(250,89,57,0.7);
    outline:none
}
[type='color']:disabled,[type='date']:disabled,[type='datetime']:disabled,[type='datetime-local']:disabled,[type='email']:disabled,[type='month']:disabled,[type='number']:disabled,[type='password']:disabled,[type='search']:disabled,[type='tel']:disabled,[type='text']:disabled,[type='time']:disabled,[type='url']:disabled,[type='week']:disabled,input:not([type]):disabled,textarea:disabled,select[multiple]:disabled{
    background-color:#f2f2f2;
    cursor:not-allowed
}
[type='color']:disabled:hover,[type='date']:disabled:hover,[type='datetime']:disabled:hover,[type='datetime-local']:disabled:hover,[type='email']:disabled:hover,[type='month']:disabled:hover,[type='number']:disabled:hover,[type='password']:disabled:hover,[type='search']:disabled:hover,[type='tel']:disabled:hover,[type='text']:disabled:hover,[type='time']:disabled:hover,[type='url']:disabled:hover,[type='week']:disabled:hover,input:not([type]):disabled:hover,textarea:disabled:hover,select[multiple]:disabled:hover{
    border:2px solid #CACFD6
}
textarea{
    resize:vertical
}
[type="search"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
[type="checkbox"],[type="radio"]{
    display:inline;
    margin-right:.3625em
}
[type="file"]{
    margin-bottom:.725em;
    width:100%
}
select{
    margin-bottom:60px;
    max-width:100%;
    width:auto
}
.tabs{
    list-style:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    /* justify-content: space-between; */
    justify-items: center;
    height: 100%;
    max-height: 100%;
    background-color: #f6f6f6;
}
.tabs:after{
    content:'';
    display:table;
    clear:both
}
.tabs input[type=radio]{
    display:none
}
.tabs label{
    display:inline-block;
    /* min-width:25%; */
    width: 100px;
    -webkit-box-flex:1;
    /* -ms-flex:1 1 25%; */
    /* flex:1 1 25%; */
    color:#7C8796;
    text-align:center;
    cursor:pointer;
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
    border-radius: 15px ;
    box-shadow: 5px 6px 6px #dfdede;
    background: #FFF;
    margin-left: 10px;
}
.tabs label span{
    display:none;
    font-size:1rem;
    font-weight:500
}
.tabs label:hover{
    color:#3498db
}
.tabs label:hover .icon{
    border-color:#3498db;
    background-position:0 -50px
}
.tab__content{
    display:none;
    text-align:center;
    width:100%;
    margin:0 auto;
    box-sizing:border-box;
    margin-top:2rem;
    background-color: #f6f6f6;
}
.tab__content--copy{
    margin-bottom:60px;
    font-size:1.25em
}
.tab__content *{
    -webkit-animation:scale 0.2s ease-in-out;
    animation:scale 0.2s ease-in-out
}
@-webkit-keyframes scale{
    0%{
        -webkit-transform:scale(0.9);
        transform:scale(0.9);
        opacity:0
    }
    50%{
        -webkit-transform:scale(1.01);
        transform:scale(1.01);
        opacity:0.5
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@keyframes scale{
    0%{
        -webkit-transform:scale(0.9);
        transform:scale(0.9);
        opacity:0
    }
    50%{
        -webkit-transform:scale(1.01);
        transform:scale(1.01);
        opacity:0.5
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
.tabs [id^="tab"]:checked+label{
    color:#fff
}
.tabs [id^="tab"]:checked+label i{
    border-color:#3498db;
    background-position:0 -50px
}
#tab1:checked ~ #tab__content--1,#tab2:checked ~ #tab__content--2,#tab3:checked ~ #tab__content--3,#tab4:checked ~ #tab__content--4,#tab5:checked ~ #tab__content--5,#tab6:checked ~ #tab__content--6,#tab7:checked ~ #tab__content--7,#tab8:checked ~ #tab__content--8{
    display:grid
}
@media (min-width: 768px){
    .tabs label span{
        display:block
    }
}
.icon{
    margin-top:1rem;
    display:inline-block;
    width:50px;
    height:50px;
    box-sizing:border-box
}
table{
    border-collapse:collapse;
    margin:.725em 0;
    table-layout:fixed;
    width:100%
}
th{
    border-bottom:1px solid #989ba1;
    font-weight:600;
    padding:.725em 0;
    text-align:left
}
td{
    border-bottom:2px solid #CACFD6;
    border-color:#CACFD6;
    padding:.725em 0
}
tr,td,th{
    vertical-align:middle
}
tr:last-of-type{
    border-bottom:transparent
}
.button{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:6px;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-family:"Museo Sans",sans-serif;
    font-size:16px;
    -webkit-font-smoothing:antialiased;
    font-weight:700;
    text-decoration:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:nowrap;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    min-width:300px;
    height:auto;
    padding:1em;
    text-align:center
}
.button:hover,.button:focus{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    color:#fff
}
.button:disabled{
    cursor:not-allowed;
    opacity:0.5
}
@media (max-width: 768px){
    .button{
        min-width:0px;
        width:100%
    }
}
.button__description{
    display:block;
    font-size:16px;
    font-weight:normal
}
.button--large{
    font-size:1.25em;
    min-width:400px;
    text-align:center
}
@media (max-width: 768px){
    .button--large{
        min-width:0px;
        width:100%
    }
}
.button--orange{
    background-color:#fb6e52
}
.button--light-orange{
    background-color:#fc8b75
}
.button--blue{
    background-color:#4b89dc
}
.button--light-blue{
    background-color:#5d9cec
}
.button--green{
    background-color:#8dc153
}
.button--light-green{
    background-color:#9eca6d
}
.button--white{
    color:#4b89dc;
    background-color:#fff;
    border:2px solid transparent
}
.button--white:hover,.button--white:focus{
    border:2px solid #fff;
    background-color:transparent
}
.button--gray{
    background-color:#7C8796
}
.button--transparent{
    border:2px solid #fff;
    background-color:transparent
}
.button--transparent:hover,.button--transparent:focus{
    background-color:#fff;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    color:#4b89dc;
    border-color:#fff
}
.button--border{
    border:2px solid #CACFD6;
    color:#7C8796
}
.button--border:hover,.button--border:focus{
    color:#7C8796
}
.button--blue--border{
    border:2px solid #CACFD6;
    color:#4b89dc;
    border-color:#C9DCF5
}
.button--blue--border:hover,.button--blue--border:focus{
    color:#4b89dc
}
.hero{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:0;
    min-height:85vh;
    color:#fff;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#7C8796;
    background-blend-mode:multiply
}
.hero h1,.hero h2,.hero h3,.hero h4,.hero p{
    color:#fff
}
.hero .grid__container{
    padding:1em;
    padding:0em calc(50% - 490px);
    margin:auto
}
.hero--white{
    color:#7C8796;
    background-color:#fff
}
.hero--white h1,.hero--white h2,.hero--white h3,.hero--white h4,.hero--white p{
    color:#2c3e50
}
.breadcrumb{
    list-style-type:none;
    padding-left:0
}
.breadcrumb li{
    display:inline-block
}
.breadcrumb li+li:before{
    content:"» "
}
.modal--open{
    overflow:hidden
}
.modal{
    display:none;
    overflow:hidden;
    position:fixed;
    top:4em;
    right:0;
    bottom:0;
    left:0;
    z-index:1200;
    -webkit-overflow-scrolling:touch;
    outline:0;
    margin:0 auto
}
.modal--open .modal{
    overflow-x:hidden;
    overflow-y:auto
}
.modal__dialog{
    position:relative;
    width:auto
}
.modal__content{
    position:relative;
    background-color:#fff;
    border:2px solid #CACFD6;
    border-radius:6px;
    background-clip:padding-box;
    outline:0
}
.modal__backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000
}
.modal__backdrop.fade{
    opacity:0;
    filter:alpha(opacity=0)
}
.modal__backdrop.in{
    opacity:0.5;
    filter:alpha(opacity=50)
}
.text-left{
    text-align:left
}
.text-right{
    text-align:right
}
.text-center{
    text-align:center
}
.inline{
    display:inline
}
.block{
    display:block
}
.inline-block{
    display:inline-block
}
.align-middle{
    vertical-align:middle
}
.address{
    word-wrap:break-word;
    white-space:-moz-pre-wrap;
    white-space:pre-wrap
}
.row::after{
    clear:both;
    content:"";
    display:block
}
.list-reset{
    list-style-type:none;
    -webkit-padding-start:0
}
.column-2{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2
}
.text-white{
    color:#fff
}
.text-black{
    color:#7C8796 !important
}
a.text-white{
    color:#fff
}
a.text-white:hover{
    text-decoration:underline
}
.circle{
    border-radius:50%
}
figure.circle img{
    border-radius:50%
}
@media all{
    .featherlight{
        display:none;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:2147483647;
        text-align:center;
        white-space:nowrap;
        cursor:pointer;
        background:#333;
        background:transparent
    }
    .featherlight:last-of-type{
        background:rgba(0,0,0,0.8)
    }
    .featherlight:before{
        content:'';
        display:inline-block;
        height:100%;
        vertical-align:middle;
        margin-right:-0.25em
    }
    .featherlight .featherlight-content{
        position:relative;
        text-align:left;
        vertical-align:middle;
        display:inline-block;
        overflow:auto;
        padding:25px 25px 0;
        border-bottom:25px solid transparent;
        min-width:30%;
        max-height:95%;
        background:#fff;
        cursor:auto;
        white-space:normal
    }
    .featherlight .featherlight-inner{
        display:block
    }
    .featherlight .featherlight-close-icon{
        position:absolute;
        z-index:9999;
        top:0;
        right:0;
        line-height:25px;
        width:25px;
        cursor:pointer;
        text-align:center;
        background:#fff;
        background:rgba(255,255,255,0.4);
        color:#eef1f7
    }
    .featherlight .featherlight-image{
        width:100%
    }
    .featherlight-iframe .featherlight-content{
        border-bottom:0;
        padding:0;
        width:90%;
        height:90%
    }
    .featherlight iframe{
        border:none;
        width:100%;
        height:100%
    }
}
@media (max-width: 786px){
    .featherlight .featherlight-content{
        margin-left:10px;
        margin-right:10px;
        max-height:98%;
        padding:10px 10px 0;
        border-bottom:10px solid transparent
    }
}
/*# sourceMappingURL=main.css.map */
