@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.tab__content {
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(313px,1fr));
    grid-template-rows: 300px;
    row-gap: 10px;
    column-gap: 20px;
    grid-auto-rows: 300px; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
#owl-demo3, #owl-demo4, #owl-demo5, #owl-demo6, #owl-demo7, #owl-demo14, #owl-demo8, #owl-demo9, #owl-demo10, #owl-demo11 {
    margin-top: 50px;
}

/* .owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
} */
 .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.owl-wrapper-outer   .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    display: flex;
    justify-content: center;
    justify-items: center;
}

 
   .owl-item {
    display: flex;
    justify-content: center;
    justify-items: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
 .item {
    width: 313px;
    min-width: 240px;
    height: 300px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    transition: transform 1s linear;
}
#owl-demo3 .item, #owl-demo4 .item, #owl-demo5 .item, #owl-demo6 .item, #owl-demo14 .item, #owl-demo7 .item, #owl-demo8 .item, #owl-demo9 .item, #owl-demo10 .item, #owl-demo11 .item {
    margin: 10px;
}
.tab-slider {
    position: relative;
    padding: 12px 10px;
}
.tab-slider .hover-img-effect {
    position: relative;
    overflow: hidden;
}
#owl-demo3 .item img, #owl-demo4 .item img, #owl-demo5 .item img, #owl-demo14 .item img, #owl-demo6 .item img, #owl-demo7 .item img, #owl-demo8 .item img, #owl-demo9 .item img, #owl-demo10 .item img, #owl-demo11 .item img {
    display: block;
    width: 100%;
    height: auto;
}
.tab-slider .hover-img-effect img {
    transition: 2s;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.tab-slider .cat-time {
    color: #484848;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 8px 0px;
    font-size: 12px;
}
.tab-slider .cat-time {
    color: #484848;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 8px 0px;
    font-size: 12px;
}
.tab-slider .tab-text {
    font-size: 17.7px;
    font-weight: bold;
    line-height: 1.57;
    text-align: left;
    color: #273f7c;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
   
    padding: 16px;
    margin-top: -22px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    height: 50px;
    width: 30px;
    border-radius: 100%;
    background-color: rgba(12, 6, 6, 0.3);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    border-radius: 0 3px 3px 0 ;
    left: 0px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.952);
    color: #fff;
  }

  .hidden {
    transform: translateX(-100%);
    /* display: none; */
}
.owl-carousel{
    display: flex;
    width: 100%;
    height: 100%;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* --------------------------------- */

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  /* span {
      font-size: 70px;    
      position: relative;
      top: -5px;
  } */
  .owl-nav button:focus {
      outline: none;
  }



  

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-wrapper {
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
    justify-items: center;
}
/* --------------------------- */
*{padding:0;margin:0;box-sizing:border-box;}
.wraper{width:100%; height:100vh; display:flex; align-items:center; padding:40px; background:#f3eded;} 
.owl-theme img{width:100%;min-height:200px;}
.owl-carousel .owl-prev, .owl-carousel .owl-next{position:absolute; top:40%; transform:translateY(-50%); background-color:#fff !important; color:#000 !important; font-size:1.5em !important; width:40px; height:40px; border-radius:100% !important; font-weight:bold; padding:15px !important; text-align:center; box-shadow:0px 0px 10px 0px #000;}
.owl-carousel .owl-prev:hover, .owl-carousel .owl-next:hover{box-shadow:0px 0px 0px 0px #000; background-color:rgb(26, 21, 21,0.8) !important; color:#fff !important;}
.owl-carousel .owl-prev{left:-30px;}
.owl-carousel .owl-next{right:-30px;}
.owl-theme .owl-dots .owl-dot.active span{background:rgb(10, 10, 10,0.1) !important; width:25px; transition:0.2s ease-in-out;}
.owl-theme .owl-dots .owl-dot:hover span{background:rgb(22, 19, 19) !important; transition:0.2s ease-in-out;}


/* Responsive design custom css */
@media only screen and (max-width:480px){
  .owl-theme .owl-dots .owl-dot{display:none;}
  .owl-carousel .owl-prev, .owl-carousel .owl-next{width:30px; height:30px; font-size:14px !important; top:45%; box-shadow:0px 0px 0px 0px #000;}
  .owl-carousel .owl-prev{left:0px;}
.owl-carousel .owl-next{right:0px;}
}

/* -------------------------------- */
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: flex !important;
    justify-items: center;
    justify-content: center;
}